<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <nav>
        <a href="/" class="brand">
            <img class="logo" src="https://cdn.iconscout.com/icon/free/png-256/free-amazon-music-3889585-3222715.png" />
            <span> playlists</span>
        </a>
        <div class="menu">
            data about time and date
        </div>
    </nav>
    <div class="flex two mymargin">
        <h1>Popular Playlists</h1>
        <div class="mypadtop">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua.
        </div>
    </div>


    <div class="container">

        <h1> Playlists</h1>
        

    </div>


</body>

</html>